@{
    ViewBag.Title = "Control";
}

<h2>Index</h2>

<form method="post">
    <button type="submit" value="a" name="op" class="btn-block btn-sucess btn-lg">
        Encender
    </button>
    <button type="submit" value="o" name="op" class="btn btn-danger btn-lg">
        Apagar
    </button>
</form>